<body oncontextmenu="return false" onselectstart="return false" class="nocopy">
<div class="container">
    <form name="chooseForm" id="chooseExam" action="{:U('Home/Choose/submitPaper')}" method="post">
        <input type="hidden" name="eid" value="{$Think.get.eid}">
        <input type="hidden" id="problemType" name="problemType" value="{$problemType}">

        <h3>选择题</h3>
        <foreach name='choosesx' item='csx' key='QuestionIndex'>
            <div class="panel panel-default">
                <div class="panel-heading" style="position: relative">
                    <pre><span class="label label-danger">{$row['choosescore']} 分</span>{$QuestionIndex+1}.{$chooseans[$csx]['question']|nl2br}</pre>
                    <div style="position: absolute; width: 100%; height: 100%;  z-index: 20; font-size: 15px; top: 0; left: 0;">
                        <div class="myOpacity pull-left">{$Think.session.user_id}</div>
                        <div class="myOpacity pull-left">{$Think.session.user_id}</div>
                        <div class="myOpacity pull-left">{$Think.session.user_id}</div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>

                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'A'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="A" checked>(A) <span class="Qtext">{$chooseans[$csx]['ams']}</span><br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="A">(A) <span class="Qtext">{$chooseans[$csx]['ams']}</span><br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'B'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="B" checked>(B) <span class="Qtext">{$chooseans[$csx]['bms']}</span><br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="B">(B) <span class="Qtext">{$chooseans[$csx]['bms']}</span><br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'C'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="C"
                                   checked>(C) <span class="Qtext">{$chooseans[$csx]['cms']}</span><br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="C">(C) <span class="Qtext">{$chooseans[$csx]['cms']}</span><br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'D'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="D"
                                   checked>(D) <span class="Qtext">{$chooseans[$csx]['dms']}</span>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="D">(D) <span class="Qtext">{$chooseans[$csx]['dms']}</span>
                        </if>
                    </label></div>
                    </p>
                </div>
            </div>
        </foreach>
    </form>
</div>
</body>
