<body oncontextmenu="return false" onselectstart="return false" class="nocopy">
<div class="container">
    <form name="chooseForm" id="chooseExam" action="{:U('Home/Choose/submitPaper')}" method="post">
        <input type="hidden" name="eid" value="{$Think.get.eid}">
        <input type="hidden" id="problemType" name="problemType" value="{$problemType}">

        <h3>选择题</h3>
        <foreach name='choosesx' item='csx' key='numofchoose'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre><font color='red'>({$allscore['choosescore']} 分)</font>{$numofchoose+1}.{$chooseans[$csx]['question']|nl2br}</pre>
                </div>
                <div class="panel-body">
                    <p>

                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'A'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="A"
                                   checked>(A) {$chooseans[$csx]['ams']}<br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="A">(A)
                            {$chooseans[$csx]['ams']}<br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'B'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="B"
                                   checked>(B) {$chooseans[$csx]['bms']}<br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="B">(B)
                            {$chooseans[$csx]['bms']}<br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'C'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="C"
                                   checked>(C) {$chooseans[$csx]['cms']}<br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="C">(C)
                            {$chooseans[$csx]['cms']}<br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'D'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="D"
                                   checked>(D) {$chooseans[$csx]['dms']}
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="D">(D)
                            {$chooseans[$csx]['dms']}
                        </if>
                    </label></div>
                    </p>
                </div>
            </div>
        </foreach>
    </form>
</div>
</body>
