<body oncontextmenu="return false" onselectstart="return false" class="nocopy">
<div class="container">
    <form name="fillForm" id="fillExam" action="{:U('Home/Fill/submitPaper')}" method="post">
        <input type="hidden" name="eid" value="{$Think.get.eid}">
        <input type="hidden" id="problemType" name="problemType" value="{$problemType}">

        <h3>填空题</h3>
        <foreach name='fillsx' item='fsx' key='QuestionIndex'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row" style="position: relative">
                        <div style="position: absolute; width: 100%; height: 100%;  z-index: 20; font-size: 15px; top: 0; left: 0;">
                            <div class="myOpacity pull-left">{$Think.session.user_id}</div>
                            <div class="myOpacity pull-left">{$Think.session.user_id}</div>
                            <div class="myOpacity pull-left">{$Think.session.user_id}</div>
                        </div>
                    </div>
                    <if condition="$fillans[$fsx]['kind'] eq 1">
                        <pre><font color='red'>({$allscore['fillscore']*$fillans[$fsx]['answernum']} 分)</font>{$QuestionIndex+1}.{$fillans[$fsx]['question']|nl2br}</pre>
                        <elseif condition="$fillans[$fsx]['kind'] eq 2"/>
                        <pre><font color='red'>({$allscore['prgans']} 分)</font>{$QuestionIndex+1}.{$fillans[$fsx]['question']|nl2br}</pre>
                        <else/>
                        <pre><font color='red'>({$allscore['prgfill']} 分)</font>{$QuestionIndex+1}.{$fillans[$fsx]['question']|nl2br}</pre>
                    </if>
                </div>
                <div class="panel-body">
                    <p>
                        <for start='1' end="$fillans[$fsx]['answernum']+1">
                            答案{$i}.<input type="text" maxlength="100" name="{$fillans[$fsx]['fill_id']}tkda{$i}"
                                          value="{$fillarr[$fillans[$fsx]['fill_id']][$i]|default=''}"
                                          class='form-control'><br/>
                        </for>
                    </p>
                </div>
            </div>
        </foreach>
    </form>
</div>
</body>
