<body oncontextmenu="return false" onselectstart="return false" class="nocopy">
<div class="container">
    <form name="judgeForm" id="judgeExam" action="{:U('Home/Judge/submitPaper')}" method="post">
        <input type="hidden" name="eid" value="{$Think.get.eid}">
        <input type="hidden" id="problemType" name="problemType" value="2">

        <h3>判断题</h3>
        <foreach name='judgesx' item='jsx' key='numofjudge'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <pre><font color='red'>({$allscore['judgescore']} 分)</font>{$numofjudge+1}.{$judgeans[$jsx]['question']|nl2br}</pre>
                </div>
                <div class="panel-body">
                    <p>

                    <div class="radio"><label>
                        <if condition="isset($judgearr[$judgeans[$jsx]['judge_id']]) and $judgearr[$judgeans[$jsx]['judge_id']] eq 'Y'">
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="Y" checked>Ture
                            <else/>
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="Y">Ture
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($judgearr[$judgeans[$jsx]['judge_id']]) and $judgearr[$judgeans[$jsx]['judge_id']] eq 'N'">
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="N" checked>False
                            <else/>
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="N">False
                        </if>
                    </label></div>
                    </p>
                </div>
            </div>
        </foreach>
    </form>
</div>
</body>
