<body>
<div class="container">
    <h3>程序设计题</h3>
    <input type="hidden" id="problemType" name="problemType" value="{$problemType}">
    <foreach name='programans' item='pans' key='numofprogram'>
        <div class="panel panel-default" id="programpanel{$pans['program_id']}">
            <div class="panel-heading"><font color='red'>({$allscore['programscore']} 分)</font>
                第{$numofprogram+1}题.{$pans['title']|nl2br}<a class="btn-sm btn btn-success upd-stuprogram" data-toggle="collapse"
                                                             href="#collapseExample{$pans['program_id']}" data-pid="{$pans['program_id']}"
                                                             aria-expanded="false" aria-controls="collapseExample">点击开闭
                </a></div>

            <div class="collapse" id="collapseExample{$pans['program_id']}" data-accepted="0">
                <div class="panel-body">
                    <h4><strong>Description</strong></h4>

                    <p>{$pans['description']}</p>
                    <h4><strong>Input</strong></h4>

                    <p>{$pans['input']}</p>
                    <h4><strong>Output</strong></h4>

                    <p>{$pans['output']}</p>
                    <h4><strong>Sample Input</strong></h4>

                    <p>{$pans['sample_input']|nl2br}</p>
                    <h4><strong>Sample Output</strong></h4>

                    <p>{$pans['sample_output']|nl2br}</p>

                    <p>
                        <label for="code{$pans['program_id']}">Code here:</label>
						<textarea class='form-control' id="code{$pans['program_id']}" name="code{$pans['program_id']}"
                                  rows="30">
						</textarea>
                    </p>
                </div>
                <div class="panel-footer row">
                    <div class="col-md-2">
                        <select id="language{$pans['program_id']}" class='form-control'>
                            <option value="0">C</option>
                            <option value="1" selected>C++</option>
                            <option value="2">Pascal</option>
                            <option value="3">Java</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success submitcode"
                                data-programid="{$pans['program_id']}">
                            提交
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-info updateresult"
                                data-proid="{$pans['program_id']}">
                            点击刷新结果
                        </button>
                    </div>
                    <div class="col-md-4">
                        <span id="span{$pans['program_id']}"><font color='green' size='3px'>未提交</font></span>
                    </div>
                </div>
            </div>
        </div>
    </foreach>
    <form name="programForm" id="programExam" action="{:U('Home/Program/submitPaper')}" method="post">
    </form>
</div>
</body>
