<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">操作确认</h4>
            </div>
            <div class="modal-body">确定要提交试卷吗？提交后无法撤销!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="examFormSubmit()">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="__PUBLIC__/Js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jQueryRotate.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/exambase.js"></script>
<script type="text/javascript">
    var chooseSaveUrl = "{:U('Home/Choose/saveAnswer')}";
    var judgeSaveUrl = "{:U('Home/Judge/saveAnswer')}";
    var fillSaveUrl = "{:U('Home/Fill/saveAnswer')}";
    var saveprogram = "{:U('Home/Program/programSave')}";
    var codesubmiturl = "{:U('Home/Program/prgsubmit')}";
    var updresulturl = "{:U('Home/Program/updresult')}";

    var left = $("#examLeftTime").val();
    left = left * 1000;
    var randnum = $("#examRandom").val();
    var savetime = (300 + randnum % 420) * 1000;
    var questionType = $("#problemType").val();

</script>