<div class="container exam_content">
    <h2>添加选择题</h2>
    <include file='Public:sideheader'/>
    <form class="form-inline text-right" role="form" method="get">
        <include file="Public:QuestionSearch"/>
    </form>
    <table class="table table-hover table-bordered table-condensed">
        <thread>
            <th width=4%>ID</th>
            <th width=34%>题目描述</th>
            <th width=3%>创建者</th>
            <th width=2%>难度</th>
            <th width=3%>操作</th>
        </thread>
        <tbody>
        <foreach name='row' item='r' key='k'>
            <tr>
                <td>{$numofchoose+$k}</td>
                <td align='left'><a target="_blank" href="{:U('Teacher/Add/choose',array('id'=>$r['choose_id']))}">{$r['question']|cutstring}</a>
                    <a tabindex="0" class="pull-right btn btn-xs btn-danger" role="button" data-toggle="popover"
                       data-trigger="focus" data-content="{$r['question']}">展开>></a>
                </td>
                <div class="clearfix"></div>
                <td style="font-size: medium"><label class='label label-default'>{$r['creator']}</label></td>
                <td>{$r['easycount']}</td>
                <if condition="isset($added[$r['choose_id']]) and $added[$r['choose_id']] gt 0">
                    <td>已添加</td>
                    <else/>
                    <td><a href="javascript:void(0);" class="addchooseexam" data-pid="{$r['choose_id']}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a></td>
                </if>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$mypage|showpagelast=###,U("Teacher/Problem/add",array('eid'=>$eid,'type'=>$type)),"$extraQuery"}
</div>
<script type="text/javascript">
    var addtoexamurl = "{:U('Teacher/Problem/addpte')}";
    $(function () {
        $("#exam_choose").addClass('active');
        $('[data-toggle="popover"]').popover();
        $(".addchooseexam").click(function () {
            var eid = $("#examid").val();
            var pid = $(this).data('pid');
            addtoexam(this, eid, pid, 1);
        });
    });
</script>
