<style>
    .table tbody tr td {
        vertical-align: middle;
    }
</style>
<div class="container exam_content">
    <h2>添加填空题</h2>
    <include file='Public:sideheader'/>
    <input type="hidden" name="eid" id="examid" value="{$eid}">
    <form class="form-inline text-right" role="form" method="get">
        <include file="Public:QuestionSearch"/>
    </form>
    <table class="table table-hover table-bordered table-condensed">
        <thread>
            <th>ID</th>
            <th>题目描述</th>
            <th>所属章</th>
            <th>一级知识点</th>
            <th>二级知识点</th>
            <th>创建者</th>
            <th>所属题库</th>
            <th>题型</th>
            <th>操作</th>
        </thread>
        <tbody>
        <foreach name='row' item='r' key='k'>
            <tr>
                <td>{$numoffill+$k}</td>
                <td align='left'><a target="_blank" href="{:U('Teacher/Add/fill',array('id'=>$r['fill_id']))}">{$r['question']|cutstring}</a>
                    <a tabindex="0" class="pull-right btn btn-xs btn-danger" role="button" data-toggle="popover"
                       data-trigger="focus" data-content="{$r['question']}">展开>></a>
                </td>
                <div class="clearfix"></div>

                <td>
                    <foreach name="questionPointMap[$r['fill_id']]" item="questionPoint">
                        <label class="label alert-danger">{$questionPoint['chapter']}</label><br/>
                    </foreach>
                </td>
                <td>
                    <foreach name="questionPointMap[$r['fill_id']]" item="questionPoint">
                        <label class="label alert-info">{$questionPoint['parent_point']}</label><br/>
                    </foreach>
                </td>
                <td>
                    <foreach name="questionPointMap[$r['fill_id']]" item="questionPoint">
                        <label class="label alert-info">{$questionPoint['point']}</label><br/>
                    </foreach>
                </td>

                <td style="font-size: medium"><label class='label label-default'>{$r['creator']}</label></td>
                <td><label class="label label-info">{$problem == 0 ? "Public" : ($problem == 1 ? "Private" : "Protected")}</label></td>
                <if condition="$r['kind'] eq 1">
                    <td><span class="label label-info">基础填空题</span></td>
                    <else/>
                    <if condition="$r['kind'] eq 2">
                        <td><span class="label label-warning">写运行结果</span></td>
                        <else/>
                        <td><span class="label label-success">程序填空题</span></td>
                    </if>
                </if>
                <if condition="isset($added[$r['fill_id']]) and $added[$r['fill_id']] gt 0">
                    <td><a href='javascript:void(0);' class='deltoexam' data-pid="{$r['fill_id']}" data-type="3">
                        <span class='glyphicon glyphicon-remove' style='color: darkred'></span></a>
                    </td>
                    <else/>
                    <td><a href="javascript:void(0);" class="addtoexam" data-pid="{$r['fill_id']}" data-type="3">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a></td>
                </if>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$mypage|showpagelast=###,U("Teacher/Problem/add",array('eid'=>$eid,'type'=>$type)),"$extraQuery"}
</div>
<script type="text/javascript">
    $(function () {
        $("#exam_fill").addClass('active');
        $('[data-toggle="popover"]').popover();
        $("td").on("click", ".addtoexam", function() {
            var eid = $("#examid").val();
            var pid = $(this).data('pid');
            var type = $(this).data('type');
            addProblem2Exam(addProblem2ExamUrl, eid, pid, type, this);
        }).on("click", ".deltoexam", function() {
            var eid = $("#examid").val();
            var pid = $(this).data('pid');
            var type = $(this).data('type');
            deleteProblem2Exam(delProblemFromExamUrl, eid, pid, type, this, true);
        });

    });
</script>
