<div class="container exam_content">
    <div class='row'>
        <div class="col-md-3"><h2>判断题库总览</h2></div>
        <div class='col-md-1'>
            <h2><a href="{:U('Teacher/Add/judge',array('page'=>$mypage['page']))}" class='btn btn-info'>添加判断题</a></h2>
        </div>

        <div class="col-md-2">
            <if condition="$problem eq 0">
                <h2><input type="button" value="公共题库" class="btn btn-success"
                           onclick="window.location.href='?problem=0'"></h2>
                <else/>
                <h2><input type="button" value="公共题库" class="btn btn-default"
                           onclick="window.location.href='?problem=0'"></h2>
            </if>
        </div>

        <div class="col-md-1">
            <if condition="$problem eq 1">
                <h2><input type="button" value="私人题库" class="btn btn-success"
                           onclick="window.location.href='?problem=1'"></h2>
                <else/>
                <h2><input type="button" value="私人题库" class="btn btn-default"
                           onclick="window.location.href='?problem=1'"></h2>
            </if>
        </div>

        <if condition="$isadmin eq true">
            <div class="col-md-2">
                <if condition="$problem eq 2">
                    <h2><input type="button" value="隐藏题库" class="btn btn-success"
                               onclick="window.location.href='?problem=2'"></h2>
                    <else/>
                    <h2><input type="button" value="隐藏题库" class="btn btn-default"
                               onclick="window.location.href='?problem=2'"></h2>
                </if>
            </div>
        </if>
    </div>
    <table class="table table-hover table-bordered table-condensed">
        <thread>
            <th width=4%>ID</th>
            <th width=34%>题目描述</th>
            <th width=4%>创建者</th>
            <th width=3%>难度</th>
            <th width=3% colspan="2">操作</th>
        </thread>
        <tbody>
        <foreach name='row' item='r' key='k'>
            <tr>
                <td>{$numofjudge+$k}</td>
                <td align='left'>{$r['question']|cutstring}
                    <button type="button"
                            class="pull-right btn btn-danger btn-xs"
                            data-toggle="tooltip"
                            data-placement="right"
                            data-original-title="{$r['question']}">悬浮查看
                    </button>
                </td>
                <div class="clearfix"></div>
                <td style="font-size: medium"><label class='label label-default'>{$r['creator']}</label></td>
                <td>{$r['easycount']}</td>
                <td><a title="删除"
                       href="javascript:suredo('{:U('Teacher/Del/judge',array('id'=>$r['judge_id'],'getkey'=>$mykey,'page'=>$mypage['page']))}','确定删除?')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: peru"></span>
                </a></td>
                <td><a title="编辑"
                       href="{:U('Teacher/Add/judge',array('id'=>$r['judge_id'],'page'=>$mypage['page'],'problem' => $problem))}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a></td>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$mypage|showpagelast=###,U("Teacher/Index/judge"),"problem=$problem"}
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
//	$('[data-toggle="popover"]').popover();
    });
</script>
