<div class="container exam_content">
	<table class="table table-bordered">
		<caption><h1>Exam List</h1></caption>
		<thead>
		  <th width=5%>ID</th>
		  <th width=30%>Exam Title</th>
		  <th width=15%>Start Time</th>
		  <th width=15%>End Time</th>
		  <th width=10%>Status</th>
		</thead>
		<tbody>
		<foreach name='row' item='r'>
		  <tr>
			<td>{$r['exam_id']}</td>
			<td><a href="{:U('Home/Index/about',array('eid'=>$r['exam_id']))}">{$r['title']}</a></td>
			<td>{$r['start_time']}</td>
			<td>{$r['end_time']}</td>
			<if condition="time() gt strtotime($r['end_time'])">
			  <td><label class='label label-success'>Ended</label></td>
			<else/>
			  <if condition="time() lt strtotime($r['start_time'])">
				<td><label class='label label-info'>Pending</label></td>
			<else/>
				<td><label class='label label-danger'>Running</label></td>
			  </if>
			</if>
		  </tr>
		</foreach>
		</tbody>
	</table>
	{$mypage|showpagelast=U("Home/Index/index")}
</div>