<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="程序设计考试 山东工商学院">
    <meta name="keywords" content="Exam,SDIBT,山东工商学院,程序设计考试">
    <!-- yours css -->
    <css file="__PUBLIC__/Css/examsys.min.css"/>
    <!-- Bootstrap -->
    <css file="__PUBLIC__/Css/bootstrap.min.css"/>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Js/html5shiv.min.js"></script>
    <script src="__PUBLIC__/Js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top navbar-default exam_header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#header-navbar">
                <span class="sr-only">header toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand exam_navbar-brand">假装有个标题</a>
        </div>
        <!-- navbar-header-end -->
    </div>
    <!-- container-fluid end -->
</div>
<!-- navbar end -->

<div class="container exam_content" style='text-align:left'>
    <div style="text-align:center">
        <h1>ACM预选排名</h1>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>注意!</strong> 为鼓励程序媛们, 女生的base比男生多0.05
    </div>
    <table class="table table-bordered table-condensed">
        <thread>
            <th width=5%>排名</th>
            <th width=10%>账号</th>
            <th width=10%>姓名</th>
            <th width=10%>中文题(占比10%)</th>
            <th width=10%>英文题(占比70%)</th>
            <th width=10%>本周做题数</th>
            <th width=10%>平时表现(占比20%)</th>
            <th width=30%>总得分(中文*1+英文*7+平时表现*2)</th>
        </thread>
        <tbody>
        <foreach name='students' item='student' key='index'>
            <if condition="$student['rank'] lt 14">
                <tr class="alert-info">
                    <else/>
                <tr>
            </if>
            <td>{$student['rank']}</td>
            <td>{$student['user_id']}</td>
            <td>{$student['name']}</td>
            <td>{$student['chineseNum']}</td>
            <td>{$student['englishNum']}</td>
            <td>{$student['week']}</td>
            <td>{$student['person']}</td>
            <td>{$student['score']}</td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>

<style>
    #examFooter, #examFooter ul li {
        background-color: #252525;
        text-align: center;
    }

    #examFooter .container {
        padding-top: 30px;
    }

    #examFooter ul li {
        border: none;
        color: white;
        font-size: 20px;
    }

    #examFooter ul li a, #examFooter p {
        font-size: 15px;
        color: #959595;
    }
</style>
<footer id="examFooter">
    <div class="container">
        <ul class="list-group col-md-4">
            <li class="list-group-item">下载链接</li>
            <li class="list-group-item"><a href="/download/Firefox.exe">Firefox</a></li>
            <li class="list-group-item"><a href="/download/codeblocks-12.11mingw-setup.exe">CodeBlocks for Win</a></li>
        </ul>
        <ul class="list-group col-md-4">
            <li class="list-group-item">主站导航</li>
            <li class="list-group-item"><a href="/JudgeOnline/faqs.php">F.A.Qs</a></li>
            <li class="list-group-item"><a href="/JudgeOnline/contest.php">Contest</a></li>
            <li class="list-group-item"><a href="/JudgeOnline/ranklist.php">Ranklist</a></li>
            <li class="list-group-item"><a href="/JudgeOnline/problemset.php">ProblemSet</a></li>
            <li class="list-group-item"><a href="/JudgeOnline/stuexam/">Examination</a></li>
        </ul>
        <ul class="list-group col-md-3">
            <li class="list-group-item">关于我们</li>
            <li class="list-group-item"><a href="/blog/">博客</a></li>
            <li class="list-group-item"><a href="/ranklist/">省赛排名</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn:8001">训练计划</a></li>
        </ul>
        <div class="col-md-offset-2 col-md-8">
            <p>@Copyright&copy;SDIBT_ACM | Any Problems, Please Contact Admin:<a
                    href="mailto:sdibtacm@126.com">admin</a></p>
        </div>
    </div>
</footer>
<js file="__PUBLIC__/Js/bootstrap.min.js"/>
</body>
</html>
